.profile-pic{
    mix-blend-mode: multiply;
    filter: sepia(100%) contrast(1);
  transition: transform .2s; /* Animation */
}

.profile-pic:hover {
    mix-blend-mode: multiply;
    filter: sepia(0%) contrast(1);
    transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }